@charset "UTF-8";

.appbar {
    position: relative;
    margin-bottom: 45px;
    height: 80px;
    background-color: rgb(22, 34, 42);

    > .icon {
        position: relative;
        left: 0;
        right: 0;
        bottom: -35px;
        margin: auto;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: rgb(255, 255, 255);

        > i::before {
            position: relative;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding-top: 15px;
            padding-left: 0.2px;
            width: 90px;
            color: rgb(22, 34, 42);
            text-align: center;
            font-size: 400%;
        }
    }
}
