@charset "UTF-8";

@import "../utilities/types.scss";

@mixin box-shadows($shadows...) {
    -webkit-box-shadow: $shadows;
       -moz-box-shadow: $shadows;
            box-shadow: $shadows;
}

@mixin transitions($transitions...) {
    -webkit-transition: $transitions;
       -moz-transition: $transitions;
            transition: $transitions;
} 

//@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
//    @if $inset {
//        -webkit-box-shadow: inset $top $left $blur $color;
//           -moz-box-shadow: inset $top $left $blur $color;
//                box-shadow: inset $top $left $blur $color;
//    } @else {
//        -webkit-box-shadow: $top $left $blur $color;
//           -moz-box-shadow: $top $left $blur $color;
//                box-shadow: $top $left $blur $color;
//    }
//}

//@mixin box-shadows($shadows...) {
//    $all: ();
//    @each $shadow in $shadows {
//        @if length($shadow) == 6 {
//            $offset-x:      nth($shadow, 1);
//            $offset-y:      nth($shadow, 2);
//            $blur-radius:   nth($shadow, 3);
//            $spread-radius: nth($shadow, 4);
//            $color:         nth($shadow, 5);
//            $inset:         nth($shadow, 6);
//            
//            @if $inset {
//                $result: inset $offset-x $offset-y $blur-radius $spread-radius $color;
//            } @else {
//                $result: $offset-x $offset-y $blur-radius $spread-radius $color;
//            }
//        } @if length($shadows) == 5 {
//            @if type-of(nth($shadow, 5)) == "bool" {
//                $offset-x:      nth($shadow, 1);
//                $offset-y:      nth($shadow, 2);
//                $blur-radius:   nth($shadow, 3);
//                $spread-radius: nth($shadow, 4);
//                $color:         nth($shadow, 5);
//                $inset:         nth($shadow, 6);
//            }
//        }
//    }
//    
//    -webkit-box-shadow: $all;
//       -moz-box-shadow: $all;
//            box-shadow: $all;
//}