@charset "UTF-8";

html
{
    font-size: 16px;
}

html, body
{
    height: 100%;
}

body
{
    // background: blueviolet;
    // background: linear-gradient(to right, #6100c2, #a100bd);

    > #__next
    {
        height: 100%;
        // min-height: stretch;
    }
}
