@charset "UTF-8";

#noscript {
    display: none;
}

input#result-uuid {
    display: inline-block;
    width: calc(100% - 100px);
    letter-spacing: 0.025em;
}

button#result-copy {
    float: right;
    margin-top: 0;
}

p#error-message {
    line-height: 20px;
    text-align: justify;
    text-align-last: justify;
}

div#spinner {
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    
    0%, 100% {
        transform: rotate(0);
    }

    20%, 60% {
        transform: rotate(-25deg);
    }

    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {

    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
